body {
    background-color: rgba(17, 17, 17, 5%);
}

header {
    background-color: rgb(249, 246, 226);
}

figure {
    background-color: rgba(17, 17, 17, 5%);
}

/* button design */

.common-btn {
    background-color: rgba(229, 39, 178, 100%);
    color: white;
    border-radius: 8px;
}

.apply-btn {
    background-color: rgba(229, 39, 178, 100%);
    color: white;
}